.buttonFirstChild {
  margin-right: 10px;
}

.stepper-container {
  display: none !important;
}

.stepperWrapper {
  max-width: 500px;
  background: #f8f9fa;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  padding: 30px 30px 0;
}

.stepperButtonWrapper {
  max-width: 500px;
  background: #f8f9fa;
  margin: 0 auto;
  justify-content: flex-end;
  display: flex;
  padding: 10px 30px 30px;
}

.stepperTab {
  width: 100%;
}

.stepperButton {
  max-width: 100;
}
